<div class="App">
  <h1 class="title">Stuff I need to do</h1>
  <div class="all-tasks">
    <h2 class="task-list-title">My Lists</h2>
    <ul class="task-list">
      <li class="active-list list-name">Youtube</li>
      <li class="list-name">Work</li>
      <li class="list-name">Grocery</li>
    </ul>
      <input class="new list" type="text" placeholder="new list name" aria-label="new list name" />
      <button class="btn create" aria-label="create new list">+</button>

  </div>

  <div class="todo-list">
    <div class="todo-header">
      <h2 class="list-title">YouTube</h2>
      <p class="task-count">{{notComplete()}} tasks remaining</p>
    </div>
    <div class="todo-body">
      <div class="tasks">
        <div *ngFor="let todo of todos" class="task">
          <input  type="checkbox" id="{{todo.id}}" [checked]="todo.done"  />
          <label htmlFor="task-1" (click)="toggleDone(todo)">
            <span class="custom-checkbox"></span>
            {{todo.name}}
          </label>
        </div>

      </div>
      <div class="new-task-creator">
          <input class="new task" type="text" placeholder="new task name" aria-label="new task name" [formControl]="newTodo"/>
          <button class="btn create" aria-label="create new task" (click)="createTodo()">+</button>

      </div>
      <div class="delete-stuff">
        <button (click)="clearCompleted()" class="btn delete">Clear completed tasks</button>
        <button class="btn delete">Delete</button>
      </div>
    </div>

  </div>

</div>